<div class="container">
    <h1>QRCODE GENERATOR</h1>
    <!-- <input [(ngModel)]="value">
    <ngx-qrcode
       [elementType]="elementType
       [errorCorrectionLevel]="correctionLevel"
       [value]="value"
       cssClass="coolQRCode"></ngx-qrcode> -->
    <qrcode cssClass="coolQRCode" #qrcode [qrdata]="qrInfo" [width]="256" elementType="img"
        [errorCorrectionLevel]="'M'"></qrcode>
    <a [href]="link" download><button class="btn btn-block" (click)="downloadQRCode()">Download QRCode</button></a>
</div>