<div class="container-fluid">
    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <mat-card class="movie-detail">
                        <mat-card-title-group>
                            <mat-card-title>{{"Title :" + movie.Movie_Title}}</mat-card-title>
                            <mat-card-subtitle>{{movie.Movie_Director}}</mat-card-subtitle>
                        </mat-card-title-group>
                        <img mat-card-image src="{{movie.Movie_Poster}}">
                        <mat-card-content>{{movie.Movie_Discription}}</mat-card-content>
                        <div *ngFor="let cinema of cinemas" readonly="true">{{cinema.CinemaName}}</div>
                    </mat-card>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 text-center">
                            <mat-card>
                                <h1>MOVIE SEAT RESERVATION</h1>
                            </mat-card>
                            <div class="d-flex flex-row cinema-seats" *ngFor="let row of lay.Rows; let i = index">
                                <div class="col p-2 flex-column" *ngFor="let col of row.columns; let j = index">
                                    <div class="card" [ngClass]="{'no-seat': col.isUnavailable}">
                                        <button id="rowCol" class="btn btn-sm seatsBtn seat direction"
                                            [ngClass]="{'selected': col.isSelected}" type="button"
                                            (click)="selectSeat(col)" [disabled]="col.isReserved">
                                            {{col.seatId}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let cin of cinemas">{{cin.Row}}</div>
                        <div class="custom-button">
                            <button type="button" id="ConfirmSeat" class="btn btn-warning"
                                (click)="confirmSeat(); clicked = true;" [disabled]="clicked"
                                routerLink="/sit-reservation-detail">
                                <span class="fa fa-save"></span>&nbsp;
                                <span>Confirm Seats</span>
                            </button>&nbsp;
                            <button type="submit" class="btn btn-info" (click)="previousState()">
                                <span class="fa fa-arrow-left"></span>&nbsp;
                                <span>Back</span>
                            </button>
                        </div>
                        <div class="direction">
                            <span class="spanBox spanBoxGreen"></span><label>
                                Selected Seats
                            </label>
                            <span class="spanBox spanBoxRed"></span><label>Reserved Seats</label>
                            <span class="spanBox spanBoxEmpty"></span><label>Empty Seats</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <mat-card class="seat-detail">
                        <mat-card-content>
                            <mat-list role="list">
                                <mat-list-item role="list-item">
                                    <div class="title">Total Seats: </div>
                                    <mat-card-subtitle class="subtitle-detail">{{selectedSeats.length}}
                                    </mat-card-subtitle>
                                </mat-list-item>
                                <mat-list-item role="list-item">
                                    <div class="title">Movie price: </div>
                                    <mat-card-subtitle class="subtitle-detail">{{moviePrice | number}} Br
                                    </mat-card-subtitle>
                                </mat-list-item>
                                <mat-list-item role="list-item">
                                    <div class="title">Total price: </div>
                                    <mat-card-subtitle class="subtitle-detail">{{selectedSeats.length *
                                        moviePrice |
                                        number}}
                                        Br</mat-card-subtitle>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>