<nav fxLayout="row wrap" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/movie-list" aria-rowcount="/movie-list">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
    </ul>
    <div fxLayout="row wrap" class="input-group search">
        <button class="btn btn-outline-secondary" style="background: white;
        border: none;" type="button">
            <i class="fa fa-search"></i>
        </button>
        <div id="navbar-search-autocomplete" class="form-outline">

            <input type="search" id="form1" class="form-control" placeholder="search" />
        </div>
    </div>
</nav>

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon class="icon">home</mat-icon>
                <span class="label" routerLink="/movie-list" aria-rowcount="/movie-list">Home</span>
            </a>
            <a mat-list-item>
                <mat-icon class="icon">input</mat-icon>
                <span class="label" routerLink="/about">About</span>
            </a>

            <a mat-list-item>
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item type="button">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a>
                    Material Blog
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li>
                        <a>
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Home</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Login</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </mat-toolbar>
        <main>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<router-outlet></router-outlet>